.clockShadow {
  width: 100%;
  max-width: 500px;
  height: 145px;
  margin: 2.1em 0;
  background-color: var(--tomato-dark);
  border-radius: 4px;
}

.clock {
  position: relative;
  width: 100%;
  height: 100%;
  top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--tomato-light);
  border-radius: 4px;
  cursor: pointer;
}
.clock:active {
  top: 0px;
}

.timer {
  font-size: 8.4rem;
  font-weight: 700;
  color: var(--white);
  user-select: none;
}