/* CONDITIONALS */
/* display: none; */
.displayNone {
  display: none;
}
.visibilityidden {
  visibility:hidden
}
/* Grabing */
.grabing {
  cursor: grabbing;
}
.grab {
  cursor: grab;
}
.backgroundGray {
  background-color: var(--gray);
}

/* Break button Task */
.breakTimeShadow {
  position: relative;
  width: 100%;
  min-height: 50px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--tomato-dark);
  background-color: var(--gray);
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0px 3px 4px var(--tomato-dark));
  animation: taskUp 0.8s forwards;
}

  @media (prefers-reduced-motion) {
    .breakTimeShadow {
    animation-name: dissolve;
    }
  }
  @keyframes taskUp {
    0% {
      top: 60px;
    }
    60% {
      top: -6px;
    }
    100% {
      top: 0px;
    }
  }
.breakTimeTopSide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  top: -2px;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;

}
.breakTimeTopSide:active {
  top: 0;
}
.breakTimeText {
   padding-left: 1.5rem;
}
.breakMenuOptions {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: space-around;
  align-self: flex-end;
  border-radius: 4px;
  background-color: var(--white);
}



/* Add button Task */
.shadowAddButton {
  position: relative;
  width: 100%;
  height: 32px;
  transition: height 0.4s;
  background-color: var(--gray-light);
  border-radius: 4px;
}
.marginAddButton {
  margin-bottom: 1em;
}


.topAddBottom {
  position: relative;
  top: -2px;
  display: flex;
  width: 100%;
  height: 32px;
  transition: height 0.4s;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  margin-bottom: 1.2em;
}

.addButton {
  width: 100%;
  height: 100%;
  padding-left: 1em;
  border: none;
}
.cancelButton {
  width: 23px;
  height: 100%;
  padding-left: 1em;
  border: none;
}

.labelEstPomo {
  padding-left: .6em;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--tomato-dark);
  word-wrap: normal;

}

.inputTitleTask {
  display: flex;
  min-width: 100px;
  height: 30px;
  flex-grow: 1;
  margin: 0 1em 0 .5em ;
  padding: 0 .6em;
  background-color: var(--gray-light);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--tomato-dark);
}
.inputTitleTask::placeholder {
  color: var(--tomato-dark);
  opacity: 0.5;
}

.inputEstPomo {
  display: flex;
  min-width: 35px;
  max-width: 45px;
  height: 30px;
  margin: 0 1rem 0 .5rem;
  padding-left: .6em;
  background-color: var(--gray-light);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--tomato-dark);
  text-overflow: ellipsis;
}
.inputEstPomo::placeholder {
  color: var(--tomato-dark);
  opacity: 0.5;
}

.enterButton {
  display: flex;
  min-width: 30px;
  height: 32px;
  margin-right: 1em;
  background-color: var(--tomato-dark);
  border-radius: 4px;
}

.enterTopButton {
  display: flex;
  position: relative;
  top: -2%;
  min-width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--tomato-main);
  border-radius: 4px;

}

/* Transitions */
.enlarging {
  height: 50px;
  transition: height 0.4s;
}
.svgNoRotated {
  transform: rotate(0);
  transition: all 0.4s;
}

.svgRotated {
  transform: rotate(45deg);
  transition: all 0.4s;
}




/* taskListContainer */

.taskList {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: .2em;
  border-radius: 4px;
  /* Firefox */
  scrollbar-color: var(--tomato-main) var(--tomato-dark);
  scrollbar-width: none;
}
/* Chrome  */
.taskList::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  background-color: var(--tomato-dark);
  border-radius: 4px;
 }




 /* Item - Individual */
.itemShadow {
  width: 100%;
  min-height: 50px;
  margin-bottom: 1rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--tomato-dark);
  background-color: var(--gray);
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0px 3px 4px var(--tomato-dark));
}
.itemTopSide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  top: -2px;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
}
/* Effect Pressed - buttons */
.itemTopSide:active {
  top: 0;
}

/* itemTopSide - gryppy part,name task and more options */
.nameTaskAndMoreOptions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grippyPart {
  display: flex;
  min-width: 15px;
  min-height: 50px;
  height: 100%;

  border: none;
  border-radius: 4px 0 0 4px;
  transition: opacity 0.5s;
  opacity: 0;
  background-color: var(--gray-light);
}
.grippyPart:hover {
  transition: opacity 0.3s;
  opacity: 1;
}

.textPart {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 1.3rem .5rem;
  word-break: break-all;
}

.moreOptionsContainer {
  display: flex;
  height: 100%;
  min-width: 24px;
  min-height: 50px;
  padding: 0 1rem;
  align-items: center;
  align-self: flex-start;
}

.moreOptions {
  display: flex;
  width: 14px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.moreOptions:focus {
  background-color: var(--gray-light);
  outline: none;
}


/* menuOptions - 3 buttons */

.menuOptions {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: space-around;
  align-self: flex-end;
  border-radius: 4px;
  background-color: var(--white);
}

.optionButtons {
  min-width: 82px;
  margin: .6rem 0;
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 600;

  color: var(--tomato-dark);
}
.separatedButton {
  border-right: 1px solid var(--gray-light);
}

/* Edit Task */
.editTaskContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.editTaskTop {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.editCancel {
  min-height: 30px;
  padding: 0 .4rem 0 1.6rem;
}
.editCancel svg {
  transform: rotate(45deg);
}
.editNameTask {
  flex-grow: 1;
  min-width: 176px;
  min-height: 30px;
  margin-left: 1rem;
  padding: 0 .6rem;
  background-color: var(--gray-light);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
}
.moreOptionsDisabled {
  margin: 0 1.5rem;
  opacity: .5;
}

.editTaskBottom {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
}
.editTaskText {
  min-width: 120px;
  margin: 0 1.6rem;

  font-size: 1.5rem;
  font-weight: 700;
}
.editEstPomo {
  padding-left: .6rem;
  min-width: 30px;
  min-height: 30px;
  flex-grow: 1;
  margin-right: 1.7rem;
  background-color: var(--gray-light);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
}
/* MoreInformation */

.moreInformationContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.moreInformation {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: .6rem 1rem;
  background-color: var(--tomato-dark);
  border-radius: 4px;
  padding: 0 .4em;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}